*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.aps
*.Cache
*.dbmdl
*.gpState
*.ilk
*.log
*.meta
*.ncb
*.ncrunch*
*.obj
*.opensdf
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.psess
*.Publish.xml
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vsp
*.vspscc
*.vssscc
*_i.c
*_p.c
.*crunch*.local.xml
.builds
.idea/
.sass-cache
/SQLServerBackupTool/App.config
[Bb]in
[Bb]uild[Ll]og.*
[Dd]ebug*/
[Ee]xpress
[Oo]bj
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult
[Tt]est[Rr]esult*
_ReSharper*/
_UpgradeReport_Files/
~$*
App_Data*/
Backup*/
build/
ClientBin
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
Generated_Code #added for RIA/Silverlight projects
ipch/
packages/
publish
sql
TestResults
UpgradeLog*.XML
AssemblyInfo.Generated.cs
*~