@import "bootstrap/variables";

$iconSpritePath: "img/glyphicons-halflings.png";
$iconWhiteSpritePath: "img/glyphicons-halflings-white.png";

$linkColor: $purple;

@import "bootstrap/bootstrap";

.ss {
    color: $grayLight;
}

.loginbox {
    @include border-radius(4px);
    border: 1px solid $tableBorder;
    padding: 3px 3px 3px 5px;
}

.purple {
    color: $purple;
}

.table-vmiddle {
    tr {
        td, th {
            vertical-align: middle;
        }
    }
}

.title {
    text-transform: lowercase;
}

#nav {
    margin: 12px 0 0;
}
