@model MembershipEditViewModel

@{
    ViewBag.Title = string.Format("User : {0}", Model.UserName);
}

<div class="form-horizontal">
    @using (Html.BeginForm(null, null, new { id="" }, FormMethod.Post))
    {
        @Html.Partial("_Form", Model)
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a href="@Url.Action("Index")" class="btn"><i class="icon-list"></i>
                <span>&nbsp;Return to list</span>
            </a>
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
