@model IndexViewModel
@{
    ViewBag.Title = "Databases list";
}

<div class="loginbox">
    <i class="icon-user"></i>&nbsp;@User.Identity.Name (@(string.Join(", ", Roles.GetRolesForUser())))
</div>
<table class="table table-bordered table-striped table-vmiddle">
    <thead>
        <tr>
            <th>Id</th>
            <th>Database name</th>
            <th style="width: 70px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DatabaseInfo.Any())
        {
            foreach (var di in Model.DatabaseInfo)
            {
            <tr>
                <td>@di.Id</td>
                <td>@di.Name</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("Schema", new { id = di.Name })" class="btn"><i class="icon-eye-open"></i><span>&nbsp;Schema</span></a>
                        <a class="btn btn-inverse" href="#"><i class="icon-white icon-download"></i><span>&nbsp;Backup</span></a>
                    </div>
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    <i style="text-align: center;">No available database for backup</i>
                </td>
            </tr>
        }
    </tbody>
</table>
