@model IEnumerable<SQLServerBackupTool.Web.Models.SchemaInfo>

@{
    ViewBag.Title = string.Format("Schema of {0}", ViewBag.Database);
}

@*
<table class="table table-bordered">
    
</table>
<div class="well">
    @ObjectInfo.Print(Model)
</div>
*@
