<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLServer Backup Tool @(!string.IsNullOrWhiteSpace(ViewBag.Title) ? " - " + ViewBag.Title : null)</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/ssbtw")
</body>
</html>
